<h4 class="ui horizontal divider header">
  <i class="cubes icon"></i> Basic Resources
</h4>
<table id="basicResources" class="ui very basic table">
  <tbody>
    {{#each civ.basicResources as |resource|}}
    <tr id='{{resource.id}}Row' class='purchaseRow' data-target='{{resource.id}}'>
      <td><button class='ui button' data-action='increment'>{{resource.verb}} {{resource.name}}</button></td>
      <td class='itemname'>{{resource.name}}: </td>
      <td class='number'><span data-action='display'>0</span></td>
      <td class='icon'><img src='images/{{resource.id}}.png' class='icon icon-lg' alt='{{resource.name}}'/></td>
      <td class='number'>(Max: <span id='max{{resource.id}}'>200</span>)</td>
      <td class='number net'><span data-action='displayNet'>0</span>/s</td>
    </tr>
    {{/each}}
  </tbody>
</table>
