<div id="buildingsPane">
  <p id="customBuildQuantity">
    Custom Quantity <input id="buildingCustomQty" type="number" min="1" step="1" value="1000" />
  </p>
  <table id="buildings" class="ui very compact very basic small table">
    {{#each civ.homeBuildings as |purchaseObj|}}
      <tr id='{{purchaseObj.id}}Row' class='purchaseRow' data-target='{{purchaseObj.id}}'>

        <!-- {{#each-in negativeList as |txt obj|}}
          <td class='{{purchaseObj.type}}{{txt}}' data-quantity='{{obj.value}}' > -->
            <!-- if allowPurchase -->
            <!-- <button class='mini compact ui button x{{txt}}' data-action='purchase' disabled='disabled'>{{{obj.text}}}</button> -->
            <!-- /if -->
          <!-- </td>
        {{/each-in}} -->

        {{#ui-popup html=(get-cost-note purchaseObj) position="right center"}}
        <td class='capitalize'>{{purchaseObj.id}}</td>
        {{/ui-popup}}
        <td class='number'><span data-action='display'>0</span></td>

        <td>
          <div class="mini compact ui buttons">
            {{#each-in positiveList as |txt obj|}}
              <button class='ui button x{{txt}} {{purchaseObj.type}}{{txt}}' data-quantity='{{obj.value}}' data-action='purchase' disabled='disabled' onclick={{action "onPurchase" target=civ}}>
                {{{obj.text}}}
              </button>
            {{/each-in}}
          </div>
        </td>

      </tr>
    {{/each}}
  </table>
</div>
