<h2 class="ui left floated header">
  <i class="icon"><i class="ra ra-tower"></i></i>
  <div class="content">
    The {{{civTypeName}}} of {{civ.curCiv.civName}}
    <div class="sub header">Ruled by the <span id="appellation">mighty</span> {{civ.curCiv.rulerName}}</div>
  </div>
</h2>

{{language-select}}

<div class="right floated ui basic icon buttons">

  <!-- <button class="ui icon button"
      data-tooltip="Import/Export" data-position="bottom center" data-inverted=""
      {{action 'openModal' 'import-export'}}>
    <i class="share icon"></i>
  </button> -->
  <!-- <button class="ui icon button"
      data-tooltip="FAQ/Instructions/Bugfixing" data-position="bottom center" data-inverted=""
      {{action 'openModal' 'faq-modal'}}>
    <i class="book icon"></i>
  </button> -->
  <!-- <button class="ui icon button"
      data-tooltip="Game Updates/Log" data-position="bottom center" data-inverted=""
      {{action 'openModal' 'updates-modal'}}>
    <i class="calendar icon"></i>
  </button> -->
  <!-- <button class="ui icon button"
      data-tooltip="New Version Available" data-position="bottom center" data-inverted=""
      id="versionAlert" onclick="location.reload()">
    <i class="red info circle icon"></i>
  </button> -->
  <!-- <button class="ui icon button"
      data-tooltip="Stats" data-position="bottom center" data-inverted=""
      {{action 'openModal' 'stats-modal'}}>
    <i class="heartbeat icon"></i>
  </button> -->
  <div class="ui icon dropdown top right button" id="menu">
    <i class="settings icon"></i> {{t 'settings'}}
    <div class="menu">
      <div class="item" {{action 'toggleCustomQuantities'}}>
        <div class="ui read-only checkbox">
          {{input type="checkbox" checked=civ.settings.customIncr title="Custom Quantity"}}
          <label>Use Custom Quantities</label>
        </div>
      </div>
      <div class="item" {{action 'toggleDelimiters'}}>
        <div class="ui read-only checkbox">
          {{input type="checkbox" checked=civ.settings.delimiters title="Toggle Delimiters"}}
          <label>Number Delimiters</label>
        </div>
      </div>
      <div class="item" {{action 'toggleNotes'}}>
        <div class="ui read-only checkbox">
          {{input type="checkbox" checked=civ.settings.notes title="Toggle Notes"}}
          <label>Show Notes</label>
        </div>
      </div>
      <div class="ui divider"></div>
      <div class="item" {{action 'toggleAutosave'}}>
        <div class="ui read-only checkbox">
          {{input type="checkbox" checked=civ.settings.autosave title="Autosave"}}
          <label>Autosave</label>
        </div>
      </div>
      <!-- FIXME:  These work too efficently and remove the menus as well. :( -->
      <!-- <div class="item" {{action 'toggleWorksafe'}}>
        <div class="ui read-only checkbox">
          {{input type="checkbox" checked=civ.settings.worksafe title="Toggle Worksafe Mode"}}
          <label>Worksafe Mode</label>
        </div>
      </div>
      <div class="item" {{action 'toggleIcons'}}>
        <div class="ui read-only checkbox">
          {{input type="checkbox" checked=civ.settings.useIcons title="Toggle Icons"}}
          <label>Use Icons</label>
        </div>
      </div> -->
    </div>
  </div>
  <div class="ui icon dropdown button" id="menu">
    <i class="sidebar icon"></i> {{t 'menu'}}
    <div class="menu">
      <!-- <div class="header">Rename</div> -->
      <div class="item" {{action 'manualSave'}}>
        <i class="save icon"></i> Manual Save
      </div>
      <div class="ui divider"></div>
      <div class="item" {{action 'renameCivilization'}}>
        <i class="edit icon"></i> Rename Civilization
      </div>
      <div class="{{disabled isCheater}} item" {{action 'renameRuler'}}>
        <i class="edit icon"></i> Rename Ruler
      </div>
      <div class="{{disabled currentlyWorshippingDeity}} item" {{action 'renameDeity'}}>
        <i class="edit icon"></i> Rename Current Deity
      </div>
      <div class="ui divider"></div>
      <div class="item" onclick="location.reload()" id="versionAlert">
        <i class="red info circle icon"></i> New Version Available
      </div>
      <div class="item" {{action 'openModal' 'import-export'}}>
        <i class="share icon"></i> Import/Export
      </div>
      <div class="item" {{action 'openModal' 'stats-modal'}}>
        <i class="heartbeat icon"></i> Stats
      </div>
      <div class="ui divider"></div>
      <div class="item" {{action 'openModal' 'updates-modal'}}>
        <i class="calendar icon"></i> Game Updates/Log {{!-- civUpdates.html --}}
      </div>
      <div class="item" {{action 'openModal' 'faq-modal'}}>
        <i class="book icon"></i> FAQ/Instructions/Bugfixing {{!-- civFAQ.html --}}
      </div>
      <div class="ui divider"></div>
      <div class="item" {{action 'resetGame'}}>
        <i class="help circle icon"></i> Reset Game
      </div>
      <div class="item" {{action 'deleteSave'}}>
        <i class="help circle icon"></i> Delete Save File
      </div>
    </div>
  </div>
</div>
{{import-export}}
{{stats-container}}
