<h4 class="ui horizontal divider header">
  <i class="diamond icon"></i> Special Resources
</h4>
<!-- FIXME: fix civData.trade.owned updating correctly we we can put gold back in the list  -->
<div class="compact ui stackable three column grid container">
  {{#each resources as |r|}}
  <div class="column"> {{!-- FIXME: {{if (and r.hideWithoutTrade (not civ.civData.trade.owned)) 'hide' ''}} --}}
    <h4 class="ui image header">
      <img src="images/{{r.icon}}.png" class="ui mini image" />
      <div class="content">
        {{t r.id}}
        <div class="sub header">
          <!-- <span data-action="display" data-target="{{r.id}}">0</span> -->
          <td class='number'>{{prettynum (get (get civ.curCiv r.id) "owned")}}</td>
        </div>
      </div>
    </h4>
  </div>
  {{/each}}
  <div id="goldRow" class="column">
    <h4 class="ui image header">
      <img src="images/gold.png" class="ui mini image" />
      <div class="content">
        Gold
        <div class="sub header"><span data-action="display" data-target="gold">0</span></div>
      </div>
    </h4>
  </div>
</div>
