<div id="impexp">
  <textarea id="impexpField"></textarea>
  <button id="ui button expButton" onclick="save('export')">Export</button>
  <button id="ui button expSelect" onclick="document.getElementById('impexpField').select();">Select All</button>
  <button id="ui button impexpClose" onclick="impExp()">Close</button>
  <button id="ui button impButton" onclick="load('import')">Import</button>
</div>

<div class="ui grid">
  <div class="twelve wide column">
    {{civ-header}}
  </div>
  <div class="four wide column">
    <div id="strip">
      <div id="stripInner">
        <a href="civFAQ.html" target="_blank">FAQ / Instructions / Bugfixing</a><br/>
        <a href="civUpdates.html" target="_blank">Game Updates Log</a><br/>
        <a href="#" onclick="impExp()">Import/Export Save</a>
        <span id="versionAlert"> - <span id="newVersionText" onclick="location.reload()">New Version Available</span></span>
      </div>
    </div>
  </div>
  <div class="eight wide column">
    {{basic-resources}}
    {{special-resources}}
    <div id="panesSelectors">
      <div id="selectors">
        <div id="buildingsSelect" class="paneSelector selected" data-target="buildingsPane" onclick="paneSelect(this)">Buildings</div>
        <div id="upgradesSelect" class="paneSelector" data-target="upgradesPane" onclick="paneSelect(this)">Upgrades</div>
        <div id="deitySelect" class="paneSelector" data-target="deityPane" onclick="paneSelect(this)">Deity</div>
        <div id="conquestSelect" class="paneSelector" data-target="conquestPane" onclick="paneSelect(this)">Conquest</div>
        <div id="tradeSelect" class="paneSelector" data-target="tradePane" onclick="paneSelect(this)">Trade</div>
        <div id="achievementsSelect" class="paneSelector" data-target="achievementsPane" onclick="paneSelect(this)">Achievements</div>
        <div id="settingsSelect" class="paneSelector" data-target="settingsPane" onclick="paneSelect(this)">Settings</div>
        <div style="clear:both;"></div>
      </div>
      {{buildings-pane}}
      {{upgrades-pane}}
      {{diety-pane}}
      {{conquest-pane}}
      {{trade-pane}}
      {{achievements-pane}}
      {{settings-pane}}
    </div>
  </div>
  <div class="eight wide column">
    <div>
      <h3 class="ui header">Population</h3>
      <div>
        <table>
          <tr>
            <td>Current Population: </td>
            <td class="number"><span data-action="display_pop" data-target="current">0</span></td>
          </tr>
          <tr>
            <td>Maximum Population: </td>
            <td class="number"><span data-action="display_pop" data-target="limit">0</span></td>
          </tr>
          <tr id="zombieWorkers">
            <td>Zombies: </td>
            <td class="number"><span data-action="display" data-target="zombie">0</span></td>
          </tr>
          <tr>
            <td>Happiness: </td>
            <td><span id="morale">Content</span></td>
          </tr>
        </table>
        <br />
      </div>
      <div id="populationCreate">
        <div class="unit1"><button class="ui button" id="spawn1button" onmousedown="spawn(1)" disabled="disabled">Recruit Worker</button><span class="cost"><span id="workerCost">20</span> food</span><span class="note">: Recruit a new worker</span><br /></div>
        <div class='unit10'><button class="ui button" id="spawn10button" onmousedown="spawn(10)">Recruit 10 Workers</button><span class="cost"><span id="workerCost10">200</span> food</span><span class="note">: Recruit 10 new workers</span></div>
        <div class='unit100'><button class="ui button" id="spawn100button" onmousedown="spawn(100)">Recruit 100 Workers</button><span class="cost"><span id="workerCost100">2000</span> food</span><span class="note">: Recruit 100 new workers</span></div>
        <div class='unit1000'><button class="ui button" id="spawn1000button" onmousedown="spawn(1000)">Recruit 1000 Workers</button><span class="cost"><span id="workerCost1000">20000</span> food</span><span class="note">: Recruit 1000 new workers</span></div>
        <div class='unitInfinity'><button class="ui button" id="spawnMaxbutton" onmousedown="spawn(Infinity)">Recruit <span id="workerNumMax">Max</span> Workers</button><span class="cost"><span id="workerCostMax"></span> food</span><span class="note">: Recruit as many new workers as possible</span></div>
        <div id="customSpawnQuantity"><button class="ui button" id="spawnCustomButton" onmousedown="spawn('custom')">Recruit Workers</button><input id="spawnCustomQty" type="number" min="1" step="1" value="1" />
        </div>
      </div>
    </div>
    <div id="jobsContainer">
      <h3>Jobs</h3>
      <p id="customJobQuantity">
        Custom Quantity <input id="homeCustomQty" type="number" min="1" step="1" value="1" />
      </p>
      <table id="jobs"></table>
    </div>
    <div id="tradeContainer">
      Trader offers 1 gold for <span id="tradeRequested">0</span> <span id="tradeType">food</span><br />
      <button class="ui button" id="trader" onmousedown="trade()">Trade</button>
    </div>
    <div id="eventsContainer">
      <h3>Events</h3>
      <table id="logTable">
        <tr id="log0">
          <td id="logT"></td>
          <td id="logL"></td>
          <td id="logR"></td>
        </tr>
        <tr id="log1">
          <td colspan="3"></td>
        </tr>
        <tr id="log2">
          <td colspan="3"></td>
        </tr>
        <tr id="log3">
          <td colspan="3"></td>
        </tr>
        <tr id="log4">
          <td colspan="3"></td>
        </tr>
        <!-- <tr id="log5"><td colspan="3"></td></tr>
            <tr id="log6"><td colspan="3"></td></tr>
            <tr id="log7"><td colspan="3"></td></tr>
            <tr id="log8"><td colspan="3"></td></tr>
            <tr id="log9"><td colspan="3"></td></tr> -->
      </table>
    </div>
    <div id="deityContainer">
      <h3>Current Deity</h3>
      <table id="activeDeity">
        <tr>
          <td></td>
        </tr>
      </table>
    </div>
    <div id="wondersContainer">
      <h3>Wonders</h3>
      <span id="startWonderLine"><button class="ui button" id="startWonder" onmousedown="startWonder()">Start Building Wonder</button></span>
      <div id="wonderInProgress">
        <span class="wonderTitle">Progress on <span id="wonderNameP">Wonder</span> - <span id="progressNumber">0</span>%</span> - <button class="ui button" id="renameWonder" onmousedown="renameWonder()">Rename</button>
        <div id="progressContainer">
          <div id="progressBar"></div>
        </div>
        <div id="lowResources">Limited<span id="limited"> by low resources</span></div>
        <div id="speedWonderGroup"><br /><button class="ui button" id="speedWonder" onmousedown="speedWonder()">Speed Wonder</button>
          <span id="speedWonderCost" class="cost">100 gold</span><span class="note">: Increase wonder progress</span></div>
      </div>
      <div id="wonderCompleted">
        <div class="wonderTitle"><span id="wonderNameC">Wonder</span> Completed! Choose Bonus:</div>
      </div>
      <table id="pastWonders">
        <tr>
          <td></td>
        </tr>
      </table>
    </div>
    <div id="statsContainer">
      <h3>Stats</h3> Resource clicks: <span id="clicks">0</span> {{ui-popup tagName="i" class="info circle icon" content="Number of clicks on 'Basic Resources' buttons." data-variation="mini"}}<br /> Total Land: <span id="totalLand">1000</span><br /> Total Buildings:
      <span id="totalBuildings">0</span><br /> Enemies Slain: <span data-action="display" data-target="enemySlain">0</span><br /> Unburied Corpses: <span data-action="display" data-target="corpses">0</span><br />
      <span id="graveTotal">Unfilled Graves: <span data-action="display" data-target="grave">0</span><br /></span>
      <span id="walkGroup"><br />Walk: <span id="walkStat">0</span> workers per second<br /></span>
    </div>
  </div>
</div>

{{outlet}}
