{{civ-header}}
{{#main-menu}}
<div class="ui padded grid">
  <div class="eight wide column">
    {{basic-resources}}
    {{special-resources}}
    <div class="ui divider">
    </div>
    <div class="compact ui mini pointing secondary stackable menu">
      <a class="brown item active" data-tab="buildingsPane">Buildings</a>
      <a class="teal item" data-tab="upgradesPane">Upgrades</a>
      <a class="purple item" data-tab="deityPane">Deity</a>
      <a class="red item" data-tab="conquestPane">Conquest</a>
      <a class="yellow item" data-tab="tradePane">Trade</a>
      <a class="green item" data-tab="achievementsPane">Achievements</a>
      <a class="gray item" data-tab="settingsPane">Settings</a>
    </div>
    <div class="ui tab basic segment active" data-tab="buildingsPane">
      {{buildings-pane}}
    </div>
    <div class="ui tab basic segment" data-tab="upgradesPane">
      {{upgrades-pane}}
    </div>
    <div class="ui tab basic segment" data-tab="deityPane">
      {{diety-pane}}
    </div>
    <div class="ui tab basic segment" data-tab="conquestPane">
      {{conquest-pane}}
    </div>
    <div class="ui tab basic segment" data-tab="tradePane">
      {{trade-pane}}
    </div>
    <div class="ui tab basic segment" data-tab="achievementsPane">
      {{achievements-pane}}
    </div>
    <div class="ui tab basic segment" data-tab="settingsPane">
      {{settings-pane}}
    </div>
  </div>
  <div class="eight wide column">
    {{population-container}}
    {{jobs-container}}
    {{trade-container}}
    {{events-container}}
    {{deity-container}}
    {{wonders-container}}
  </div>
</div>
{{/main-menu}}

{{outlet}}
